        header {
            text-align: center;
            font-size: 33px;
            font-family: Arial, Helvetica, sans-serif;
        }
        menu{
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            border-radius: 5px;
            background-color: black ;
            color: rgba(253, 253, 253, 0.164);
            padding:20px;
            font-size: 18px;
        }
        span{
            margin-right: 20px;
        }

        .btn1,
        .btn2 {
            display: block;
            text-align: center;
        }
        /* .btn2 {
            background-color: yellowgreen;
        } */

        .row1,
        .row2 {
            padding: 12px;
            background-color: yellow;
            border-radius: 8px;
        }

        .para1 {
            width: 700px;
            margin-right: 100px;
            margin-left: 350px;
            text-align: justify;
        }

        .content {
            display: flex;
            padding: 92px;
            margin: 20px;
        }

        .tableForm {
            text-align: center;


        }

        thead {
            background-color: darkkhaki;
            font-size: 20px;
        }

        td {
            text-align: center;

        }

        .line {
            width: 30%;
            margin-right: 200px;
        }

        .img {
            /* transform: scale(1.2); */
            box-shadow: 10px 0 10px;
            padding: 10px;
        }

        .maincontent {
            display: flex;
            background-color: rgb(134, 105, 161);
            justify-content: space-between;

        }

        .item {
            width: 200px;
            margin-right: 10px;
            margin-left: 10px;
        }

        .jumbothron {
            display: flex;
            padding: 12px;

        }

        .img1 {
            padding: 30px;
            height: 150px;
            width: 300px;
            margin-top: 80px;
        }

        .job {
            padding: 12px;
            margin: 40px;
        }

        .line1 {
            width: 30%;
            margin-left: 50px;
        }

        .btn3 {
            display: flex;
            /* margin: 10px; */
            padding: 10px;
        }

        .b1 {
            margin-left: 40%;
            background-color: gainsboro;
        }

        .maindetails {
            text-align: center;
            background-color: blueviolet;
        }

        .details {
            height: 300px;
            padding: 20px;
            display: flex;
            justify-content: space-around;
        }

        .item1 {
            padding: 12px;
            width: 300px;
        }

        footer {

            background-color: black;
            color: white;
        }

        footer h4 {
            padding: 12px;
            text-align: center;
        }

        .footnav {
            display: flex;
            margin-left: 200px;
            justify-content: space-around;
        }

        ul {
            list-style: none;
        }

        .service {
            display: flex;
            justify-content: space-evenly;
        }

        .box {
            margin-top: 10px;
            box-shadow: 10px 10px 10px 10px;
            width: 300px;
            height: 400px;
            border: 1px solid black;
            padding: 10px;
            margin: 10px;
            background-color: whitesmoke;
        }

        #mid {
            margin-top: 40px;
        }